#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# NPC Enchanter Enhanced
########################################

# -------------------------------------------------------------------------------------
#  Enable the module
#
#  Enable : 1
#  Disable: 0
# -------------------------------------------------------------------------------------
NPCEnchanterEnhanced.Enable = 1

# -------------------------------------------------------------------------------------
#  Announce
#
#  Announce the module when the player logs in?
#  Enable : 1
#  Disable: 0
# -------------------------------------------------------------------------------------
NPCEnchanterEnhanced.Announce = 1

# -------------------------------------------------------------------------------------
#
#  NPC Settings
#
# -------------------------------------------------------------------------------------
#  SpawnableByAnyone
#
#  If the NPC should be spawnable for anyone.
#  Enable : 1 (Any player can summon the enchanter)
#  Disable: 0 (Only GM/Admin can summon the enchanter)
# -------------------------------------------------------------------------------------
NPCEnchanterEnhanced.SpawnableByAnyone = 1
#
# -------------------------------------------------------------------------------------
#  DespawnTimerInSeconds
#
#  NPC DespawnTimer in seconds
#  0 = Dont despawn.
#  1+ = Despawn after x seconds.
#  Default: 90
# -------------------------------------------------------------------------------------
NPCEnchanterEnhanced.DespawnTimerInSeconds = 90


# -------------------------------------------------------------------------------------
#
#  Filtering - Ignore different requirements
#
# -------------------------------------------------------------------------------------
#  IgnoreProfessionRequirements
#
#  Ignore profession requirements.
#  for example Rocket Boots (Engineering), ring enchants (Enchanting) etc
#  Enable : 1 - Ignores requirements
#  Disable: 0
# -------------------------------------------------------------------------------------
NPCEnchanterEnhanced.IgnoreProfessionRequirements = 0
#
# -------------------------------------------------------------------------------------
#  IgnoreLevelRequirements
#
#  Ignore level requirements.
#  Scopes in vanilla etc.
#  Enable : 1 - Ignores requirements
#  Disable: 0
# -------------------------------------------------------------------------------------
NPCEnchanterEnhanced.IgnoreLevelRequirements = 0
#
# -------------------------------------------------------------------------------------
#  IgnoreItemLevelRequirements
#
#  Ignore itemlevel requirements.
#  Enable : 1 - Ignores requirements
#  Disable: 0
# -------------------------------------------------------------------------------------
NPCEnchanterEnhanced.IgnoreItemLevelRequirements = 0
#
# -------------------------------------------------------------------------------------
#  TiersToShow
#
#   Raid: Crusader, +15 agility, 30+ spellpower, 55+ healing etc
#   PreRaid:
#   Leveling: Low-level enchants like Striking, Impact, Lesser Spirit etc
#
#  Ignore itemlevel requirements.
#  Show all tiers: "Leveling, PreRaid, Raid"
#
# -------------------------------------------------------------------------------------
NPCEnchanterEnhanced.TiersToShow = "Leveling, PreRaid, Raid"
#


# -------------------------------------------------------------------------------------
#
#  Phases
#  Lock enchants that was not available in the current phase.
#  1-6 Vanilla
#  7-12 TBC
#  13-17 WOTLK
#
# -------------------------------------------------------------------------------------
#  NPCEnchanterEnhancedPhase
#
#  Only enable enchants that were available during this phase (Or lower)
#  Enable : 1-17w
#  Disable: 0
# -------------------------------------------------------------------------------------
NPCEnchanterEnhanced.NPCEnchanterEnhancedPhase = 1
#
# -------------------------------------------------------------------------------------
#  IndividualProgression - !! This will override NPCEnchanterEnhancedPhase !!
#
#  Only enable enchants that were available during the player's current IndividualProgression phase.
#  Uses the same achievements as the IndividualProgression-module for phases.
#  Enable : 1
#  Disable: 0
# -------------------------------------------------------------------------------------
NPCEnchanterEnhanced.IndividualProgression = 1
#
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
#
#  Prices
#
# -------------------------------------------------------------------------------------
#  FreeEnchants
#
#  Enable free enchants
#  Enable : 1 Enchants are free.
#  Disable: 0 Enchants cost gold.
# -------------------------------------------------------------------------------------
NPCEnchanterEnhanced.FreeEnchants = 0
#
# -------------------------------------------------------------------------------------
#  DynamicPricesOnEnchants - !! This will override FreeEnchants !!
#
#  Enable dynamic prices on enchants (Requires populated AH.) Not implemented yet.
#  Enable : 1
#  Disable: 0
# -------------------------------------------------------------------------------------
NPCEnchanterEnhanced.DynamicPricesOnEnchants = 0
#
#-------------------------------------------------------------------------------------

